<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="emailClient" class="com.demo.email.EmailClient">
        <property name="host" value="${webdemo.email.host}"/>
        <property name="port" value="${webdemo.email.port}"/>
        <property name="sender" value="${webdemo.email.sender}"/>
        <property name="isAuth" value="${webdemo.email.isAuth}"/>
        <property name="authCode" value="${webdemo.email.authCode}"/>
        <property name="title" value="WebDemo：验证码" />
    </bean>
</beans>